@import './base.css';
@import 'primeicons/primeicons.css';

#app {
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: underline;
  color: rgb(243, 243, 243);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    text-decoration: none;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    /* place-items: center; */
  }

  
  
  
}
